.heart {

  > .pulse {
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 25px solid rebeccapurple;
    opacity: 0;
    z-index: -2;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &:nth-child(1) {
      // animation: pulse 8s cubic-bezier(.19, 1, .22, 1) infinite;
    }

    &:nth-child(2) {
      // animation: pulse 8s 4s cubic-bezier(.19, 1, .22, 1) infinite;
    }
  }

}

@keyframes pulse {
  20% {
    opacity: 1;
  }

  100% {
    width: 800px;
    height: 800px;
    border-width: 0;
    opacity: 0;
  }
}
