// kind of a square root in sass
@function sqrt($r) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

// hexagon variables
$side-circle: 140;
$side-circle-half: $side-circle / 2;
$circle-fix: 19;


$side-pulse: 140;
$side-pulse-half: $side-pulse / 2;

$side-hex: $side-circle / 2;
$side-hex-half: $side-hex / 2;

$altura-hex: sqrt(($side-hex * $side-hex) - (($side-hex / 2) * ($side-hex / 2)));
$altura-fix: $side-hex - $altura-hex;

@for $x from 1 through 1 {
  .hexagon {
    ul:nth-child(#{$x}) {
      @for $y from 1 through 6 {
        li:nth-child(#{$y}) {animation-delay: ((1 / 2) * $x) + s;}
      }
    }
  }
}

.hexagon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  ul {
    width: $side-circle + px;
    height: $side-circle + px;
    border-radius: 50%;
    // background: rgba(102, 51, 153, .02);
    position: absolute;
    // opacity: 0;
    // transform: scale(0);
    // transform-origin: center;
    // animation: pulse-hex 10s cubic-bezier(.19, 1, .22, 1) infinite;

    &:nth-child(2) {transform: translateY((-$side-circle + $circle-fix) + px);}
    &:nth-child(3) {transform: translateY(($side-circle - $circle-fix) + px);}
    &:nth-child(4) {transform: translateX(-$side-circle + px);}
    &:nth-child(5) {transform: translateX($side-circle + px);}

    &:nth-child(6) {transform: translateY((-$side-circle + $circle-fix) * 2 + px);}
    &:nth-child(7) {transform: translateY(($side-circle - $circle-fix) * 2 + px);}
    &:nth-child(8) {transform: translateX(-$side-circle * 2 + px);}
    &:nth-child(9) {transform: translateX($side-circle * 2 + px);}

    &:nth-child(10) {
      transform: translateY(-$side-circle + $circle-fix + px) translateX(-$side-circle + px);
    }

    &:nth-child(11) {
      transform: translateY(-$side-circle + $circle-fix + px) translateX($side-circle + px);
    }

    &:nth-child(12) {
      transform: translateY($side-circle - $circle-fix + px) translateX(-$side-circle + px);
    }

    &:nth-child(13) {
      transform: translateY($side-circle - $circle-fix + px) translateX($side-circle + px);
    }
  }

  li {
    width: $side-pulse + px;
    height: $side-pulse + px;
    border-radius: 50%;
    // border: 1px solid rgba(102, 51, 153, .4);
    background: rgba(102, 51, 153, .03);
    position: absolute;
    // transform: scale(.9);
    opacity: 0;
    transform-origin: center;
    animation: pulse-hex 10s infinite;

    // position
    &:nth-child(1) {
      top: ($altura-fix - $side-pulse-half) + px;
      left: ($side-hex-half - $side-pulse-half) + px;
      // animation-delay: 0s;
    }

    &:nth-child(2) {
      top: ($altura-fix - $side-pulse-half) + px;
      right: ($side-hex-half - $side-pulse-half) + px;
      // animation-delay: .7s;
    }

    &:nth-child(3) {
      top: ($side-hex - $side-pulse-half) + px;
      left: - $side-pulse-half + px;
      // animation-delay: 1s;
    }

    &:nth-child(4) {
      top: ($side-hex - $side-pulse-half) + px;
      right: - $side-pulse-half + px;
      // animation-delay: 1.5s;
    }

    &:nth-child(5) {
      bottom: ($altura-fix - $side-pulse-half) + px;
      right: ($side-hex-half - $side-pulse-half) + px;
      // animation-delay: 2.2s;
    }

    &:nth-child(6) {
      bottom: ($altura-fix - $side-pulse-half) + px;
      left: ($side-hex-half - $side-pulse-half) + px;
      // animation-delay: 2.5s;
    }
  }

  &.dev {

    &::before,
    &::after {
      content: '';
      position: absolute;
      background: rebeccapurple;
    }

    &::before {
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
    }

    &::after {
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
    }

    ul {
      background: rgba(102, 51, 153, .6);
    }

    li {
      background: black;
    }
  }
}

$pulse: 800px;
$pulse-half: -($pulse / 2);

@keyframes pulse-hex {
  20% {
    // opacity: 1;
  }

  40%, 60% {
    // width: $pulse;
    // height: $pulse;
    // transform: translate(#{$pulse-half}, #{$pulse-half});
    transform: scale(1);
    opacity: 1;
    // border-width: 0;
    // opacity: 0;
  }
}
