
// sin and cos in SASS
// https://unindented.org/articles/trigonometry-in-sass/
@function pi() {
  @return 3.14159265359;
}

// power
@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

// factorial
@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}





// hexagon variables
$side-circle: 120;
$side-circle-half: $side-circle / 2;
$side-circle-double: $side-circle * 2;

.hexagon-sincos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  transform: rotate(30deg);
  pointer-events: none;

  section.layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @for $x from 1 through 6 {
      $rad: (60 * $x) * (pi() / 180);
      ul:nth-child(#{$x}) {
        top: ((($side-circle * 2)) * sin($rad) + px);
        left: ((($side-circle * 2)) * cos($rad) + px);
      }
    }

    &:nth-child(2) {
      // transform: rotate(30deg);

      @for $x from 1 through 6 {
        $rad: (60 * $x) * (pi() / 180);
        ul:nth-child(#{$x}) {
          top: ((($side-circle * 3)) * sin($rad) + px);
          left: ((($side-circle * 3)) * cos($rad) + px);
        }
      }
    }
  }





  // always in the center
  section  {
    @for $x from 1 through 6 {
      $rad: (60 * $x) * (pi() / 180);
      li:nth-child(#{$x}) {
        top: ($side-circle-half * sin($rad) + px);
        left: ($side-circle-half * cos($rad) + px);
      }
    }
  }




  // general css
  ul, li {
    width: $side-circle + px;
    height: $side-circle + px;
    background: rgba(102, 51, 153, .02);
    border-radius: 50%;
    position: absolute;
  }

  ul {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  li {
    background: transparent;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(102, 51, 153, .02);
      opacity: 1;
      transition: all 0.3s;
    }
  }




  // activate alignment mode
  &.dev {

    &::before,
    &::after {
      content: '';
      position: absolute;
      background: lightgray;
      z-index: 99;
    }

    &::before {
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
    }

    &::after {
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
    }

    ul {
      background: rgba(102, 51, 153, .6);
    }

    li {
      background: green;
      opacity: 0.2
    }
  }
}
