.social {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  font-size: 12px;
  font-weight: bold;

  > li a {
    margin: 0 12px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;

    &:hover {
      color: rebeccapurple;
      border-bottom-color: rebeccapurple;
    }
  }
}
