.social {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
  font-size: 12px;
  font-weight: bold;
  z-index: 100;

  a {
    margin: 0 12px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color .3s;

    &:hover {
      color: rebeccapurple;
      border-bottom-color: rebeccapurple;
    }
  }
}
