$timing: .3s;

html, body {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: ghostwhite;
  color: #333;
  transition: all .3s;

  &.about-on {
    background: rebeccapurple;
    .header {opacity: 0;}
    .about, .social a {color: ghostwhite;}
    .about .item {opacity: 1;}
  }
}

*::selection {
  background: transparent;
}
