html, body {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: mintcream;
  color: rebeccapurple;
  transition: all .3s;

  &.teste {
    background: rebeccapurple;
    color: mintcream;
  }
}

*::selection {
  background: rebeccapurple;
  color: white;
}
