html, body {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
}

h1, h2 {
  width: 50vw;
  margin: 10px 0;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: .16em;
}

h1 {
  text-align: right;
  transform: translate(-40px, 0) skewY(-20deg);
}

h2 {
  text-align: left;
  transform: translate(40px, 0) skewY(-20deg);
}

figure {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 8px solid blue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}
