extends pug/global
block content
  
  header
    h1 alani marcel—terapeuta kósmico
  
  ul.heart
    li.pulse
    li.pulse
    li.pulse
  
  section.hexagon-sincos
    - for (var x = 1; x < (1 + 1); x++)
      ul
        - for (var y = 1; y < (6 + 1); y++)
          li
  
  ul.social
    li #[a(href='javascript:void(0)' title='Facebook' target='_blank') Facebook]
    li #[a(href='javascript:void(0)' target='_blank') Instagram]
