extends pug/global
block content
  
  figure
  header
    h1 alani marcel—terapeuta kósmico
  ul.social
    li #[a(href='javascript:void(0)' title='Facebook' target='_blank') Facebook]—
    li #[a(href='javascript:void(0)' target='_blank') Instagram]
