extends pug/global
block content
  
  header.header
    h1 alani marcel—terapeuta kosmico
  
  aside.about
    .item
      h2 — <br> massagem ayurvédica - abhyanga
      p corpo leve e energético, ativa inteligência, vivacidade, tônus, vitalidade sexual, autoconfiança e beleza natural
    .item
      h2 — <br> thai massagem
      p diminui dor crônica, aumenta flexibilidade, melhora postura, estimula circulação do sangue e reequilibra fluxo de energia prana
    .item
      h2 — <br> massagem vibracional com didjeridu
      p som poderoso, profundo e contínuo, tem a capacidade de nos envolver e preencher todo espaço como uma &quot;placenta sonora&quot;, e nos conecta com arquétipo de Gaia, numa viagem pelo útero da Terra
    .item
      h2 — <br> pedras e cristais
      p amplificam pensamentos, expandem consciência. usadas para cura, proteção, transmutação de energias e meditação
    .item
      h2 — <br> maracá
      p aliado que nos auxilia nos chamados das forças da natureza. usado pelas tradições de diversos povos indígenas, é uma representação do Universo
  
  ul.heart
    li.pulse
    li.pulse
  
  section.hexagon-sincos
    - for (var a = 0; a < 2; a++)
      section.layer
        - for (var b = 0; b < 6; b++)
          ul
            - for (var c = 0; c < 6; c++)
              li
    section
      - for (var b = 0; b < 3; b++)
        ul
          - for (var x = 0; x < 6; x++)
            li
  
  ul.social
    li #[a(href='https://facebook.com/namastxai' title='namastxai @ Facebook' target='_blank') Facebook]
    li #[a(href='https://instagram.com/namastxai' title='namastxai @ Instagram' target='_blank') Instagram]
  
  //- Google Analytics
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-1769352-42")
  script
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-1769352-42');

