extends pug/global
block content
  
  header
    h1#title alani marcel—terapeuta kósmico
  figure
  
  - var rows = 20
  - var columns = 16
  - var grid = rows * columns
  ul.grid
    - for (var x = 1; x < (grid + 1); x++)
      li= ''
      //- li= x
