extends pug/global
block content
  
  header
    h1 alani marcel—terapeuta kósmico
    //- h2 terapeuta kósmico
  figure
  
  - var number = 15
  ul.grid
    - for (var x = 1; x < (number + 1); x++)
      li= x
