extends pug/global
block content
  
  //- header.header
  //-   h1 alani marcel—terapeuta kósmico
  
  aside.about
    .item
      h2 massagem ayurvédica - abhyanga
      p corpo leve e energético, ativa inteligência, vivacidade, tônus, vitalidade sexual, autoconfiança e beleza natural
    .item
      h2 massagem ayurvédica - abhyanga
      p corpo leve e energético, ativa inteligência, vivacidade, tônus, vitalidade sexual, autoconfiança e beleza natural
  
  ul.heart
    li.pulse
    li.pulse
  
  section.hexagon-sincos
    - for (var a = 0; a < 2; a++)
      section.layer
        - for (var b = 0; b < 6; b++)
          ul
            - for (var c = 0; c < 6; c++)
              li
    section.center
      - for (var b = 0; b < 3; b++)
        ul
          - for (var x = 0; x < 6; x++)
            li
  
  ul.social
    li #[a(href='javascript:void(0)' title='Facebook' target='_blank') Facebook]
    li #[a(href='javascript:void(0)' title='Instagram' target='_blank') Instagram]
